/* General */
/* html {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
} */

/* body {
  margin: 20px 0;
  overflow: auto;

  color: #fff;
} */
:root{
  --purp: #9381ff;
  --lPurp: #b8b8ff;
  --offw: #f8f7ff;
  --sand: #ffeedd;
  --org: #ffd8be;
  --mint: #beeae4;
  --sage: #9fdbce;
}
.navBar{
  background-color: var(--sand);
  flex-direction: row;

}

body{
  background-color: var(--offw);
}


.homeBody{
  display: flex;
  flex-wrap: wrap;
}

.gifGuy{
  background-color: #beeae4;
  border-style: double;
  border-color: #9fdbce;
  border-radius: 10px;
  border-width: 10px;
  width: 25%;
  height: inherit;
}

.dogBanner{
  background-color: var(--sand);
  border-style: solid;
  border-color: var(--org);
  border-radius: 10px;
  border-width: 5px;
  width: 30%;
}

.catBanner{
  background-color: var(--lPurp);
  border-style: solid;
  border-color: var(--purp);
  border-radius: 10px;
  border-width: 5px;
  width: 30%;
  justify-items: flex-end;
}
a {
  color: #fff;
  text-decoration: none;
}

.p-menu1{
   height: 100%;
}

.logBin{
  background-color: #b8b8ff;
  border-style: double;
  border-color: #9381ff;
  border-width: 5px;
  border-radius: 10px;
}


/* Hamburger */
.hamburger1 {
  height: 45px;
  margin: 10px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: flex-end;
  z-index: 120;
}

.hamburger1 div {
  background-color: var(--purp);
  position: relative;
  width: 40px;
  height: 5px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: 340px;
}


/* Menu */
.menu1 {
  width: 100%;
  background-color: var(--purp);
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  grid-row-gap: 25px;
  padding: 0;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height .4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu1 a:first-child {
  margin-top: 40px;
}

.menu1 a:last-child {
  margin-bottom: 40px;
}

.link1 {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font: 700 20px 'Oswald', sans-serif;
}

.link1:hover {
  background-color: #fff;
  color: rgb(61, 61, 61);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
