/* General */
/* html {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
} */

/* body {
  margin: 20px 0;
  overflow: auto;

  color: #fff;
} */
:root{
  --purp: #9381ff;
  --lPurp: #b8b8ff;
  --offw: #f8f7ff;
  --sand: #ffeedd;
  --org: #ffd8be;
  --mint: #beeae4;
  --sage: #9fdbce;
  --dPurp: #7261D5;
  --dSage: #79BFAF;
  --dOrg: #EC9860;
}
.navBar{
  background-color: var(--sand);
}
.logo{
  height: 100%;
}

body{
  background-color: var(--offw);
  font-family: 'Balsamiq Sans', cursive;
}
.btn{
  background-color: var(--sage);
  color: #f8f7ff;
  border-radius: 20px;
  margin: 2%;
  
}

.homeBody{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gifGuy{
  background-color: #beeae4;
  border-style: double;
  border-color: #9fdbce;
  border-radius: 10px;
  border-width: 10px;
  width: 35%;
  height: inherit;
}

.bigGif{
  width: 100%;
  height: 100%;
}
.headIcon{
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 1%;
align-content: center;
/* width: 50%;
height: 50%; */
display: flex;
}

.dogBanner{
  background-color: var(--sand);
  border-style: solid;
  border-color: var(--org);
  border-radius: 10px;
  border-width: 5px;
  width: 25%;
  display: flex;
  flex-direction: column;
  color: var(--dOrg);
}

.catBanner{
  background-color: var(--lPurp);
  border-style: solid;
  border-color: var(--purp);
  border-radius: 10px;
  border-width: 5px;
  width: 25%;
  justify-items: flex-end;
  display: flex;
  flex-direction: column;
  color: #7261D5;
}
a {
  color: #fff;
  text-decoration: none;
}

.p-menu1{
   height: 100%;
}
.binBoth{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  background-color: #ffeedd;
}

.logBin{
  display: flex;
  flex-direction: column;
  background-color: #b8b8ff;
  border-style: double;
  border-color: #9381ff;
  border-width: 5px;
  border-radius: 10px;
  width: 60%;
  height: 90%;
  align-items: center;
  justify-items: center;

}

.signBin{
  display: flex;
  flex-direction: column;
  background-color: #beeae4;
  border-style: double;
  border-color: #9fdbce;
  border-width: 5px;
  border-radius: 10px;
  width: 60%;
  height: 90%;
  align-items: center;
  justify-items: center;
}


/* Hamburger */
.hamburger1 {
  height: 45px;
  margin: 10px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: flex-end;
  z-index: 120;
}

.hamburger1 div {
  background-color: var(--purp);
  font-family: 'Balsamiq Sans', cursive;
  position: relative;
  width: 40px;
  height: 5px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}
  
#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: 340px;
}


/* Menu */
.menu1 {
  width: 100%;
  font-family: 'Balsamiq Sans', cursive;
  background-color: var(--purp);
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  grid-row-gap: 25px;
  padding: 0;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height .4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu1 a:first-child {
  margin-top: 40px;
}

.menu1 a:last-child {
  margin-bottom: 40px;
}

.link1 {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font: 700 20px 'Oswald', sans-serif;
}

.link1:hover {
  background-color: #fff;
  color: rgb(61, 61, 61);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* services styling */

.sH1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.catServices{
  background-color: var(--lPurp);
  border-style: solid;
  border-color: var(--purp);
  border-radius: 10px;
  border-width: 5px;
  width: 90%;
  justify-items: flex-end;
  margin: 1%;
}

.dogServices{
  background-color: var(--sand);
  border-style: solid;
  border-color: var(--org);
  border-radius: 10px;
  border-width: 5px;
  width: 90%;
  margin: 1%;
}

.servH1{
  color: var(--sage);
  font-size: 50px;
  text-shadow: #beeae4 2px 5px;
}

Link{
  color: var(--purp);
  background-color: #9fdbce;
}
.userCard{
  padding: var(--gap);
    background: var(--entry);
    border-radius: 8px;
    background-color: #beeae4;
    border-radius: 10px;
    border-style: groove;
    border-width: 5px;
    border-color: #9fdbce;
    /* box-shadow: 0 0 0 1px #b8b8ff, 0 2px 2px #b8b8ff, 0 4px 4px #b8b8ff, 0 4px 4px #b8b8ff, 0 4px 7px #b8b8ff, 0 4px 7px #b8b8ff, 0 4px 7px #b8b8ff; */
}
.petCard{
  background-color: var(--sand);
  border-style: solid;
  border-color: var(--org);
  border-radius: 10px;
  border-width: 5px;
  width: 25%;
  margin: 1%;
  
}

form{
  background-color: #beeae4;
}